USE [master]
GO
/****** Object:  Database [C:\USERS\KOBAL\DESKTOP\EGYETEMVIZU\TELEFONSZAMOK_DAL_KONZOL\TELEFONSZAMOK_DAL_KONZOL\TELEFONSZAMOK.MDF]    Script Date: 2025. 05. 05. 9:37:06 ******/

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\KOBAL\DESKTOP\EGYETEMVIZU\TELEFONSZAMOK_DAL_KONZOL\TELEFONSZAMOK_DAL_KONZOL\TELEFONSZAMOK.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\KOBAL\DESKTOP\EGYETEMVIZU\TELEFONSZAMOK_DAL_KONZOL\TELEFONSZAMOK_DAL_KONZOL\TELEFONSZAMOK.MDF]
GO
/****** Object:  Table [dbo].[enHelysegSet]    Script Date: 2025. 05. 05. 9:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[enHelysegSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Irsz] [smallint] NOT NULL,
	[Nev] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_enHelysegSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[enSzemelyek]    Script Date: 2025. 05. 05. 9:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[enSzemelyek](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Vezeteknev] [nvarchar](max) NOT NULL,
	[Utonev] [nvarchar](max) NOT NULL,
	[Lakcim] [nvarchar](max) NOT NULL,
	[enHelyseg_Id] [int] NOT NULL,
 CONSTRAINT [PK_enSzemelyek] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[enTelefonszamok]    Script Date: 2025. 05. 05. 9:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[enTelefonszamok](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Szam] [nvarchar](max) NOT NULL,
	[enSzemely_Id] [int] NOT NULL,
 CONSTRAINT [PK_enTelefonszamok] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[enHelysegSet] ON 

INSERT [dbo].[enHelysegSet] ([Id], [Irsz], [Nev]) VALUES (2, 6000, N'Kecskemét')
INSERT [dbo].[enHelysegSet] ([Id], [Irsz], [Nev]) VALUES (3, 2038, N'Sóskút')
INSERT [dbo].[enHelysegSet] ([Id], [Irsz], [Nev]) VALUES (4, 2039, N'Pusztazámor')
SET IDENTITY_INSERT [dbo].[enHelysegSet] OFF
GO
SET IDENTITY_INSERT [dbo].[enSzemelyek] ON 

INSERT [dbo].[enSzemelyek] ([Id], [Vezeteknev], [Utonev], [Lakcim], [enHelyseg_Id]) VALUES (4, N'Senki', N'Alfonz', N'Kis út 1.', 2)
INSERT [dbo].[enSzemelyek] ([Id], [Vezeteknev], [Utonev], [Lakcim], [enHelyseg_Id]) VALUES (5, N'Gipsz', N'Jakab', N'Malom köz1.', 2)
INSERT [dbo].[enSzemelyek] ([Id], [Vezeteknev], [Utonev], [Lakcim], [enHelyseg_Id]) VALUES (6, N'Erős', N'Áron', N'Alma rét 3.', 4)
SET IDENTITY_INSERT [dbo].[enSzemelyek] OFF
GO
SET IDENTITY_INSERT [dbo].[enTelefonszamok] ON 

INSERT [dbo].[enTelefonszamok] ([Id], [Szam], [enSzemely_Id]) VALUES (1, N'+36-111-111', 5)
INSERT [dbo].[enTelefonszamok] ([Id], [Szam], [enSzemely_Id]) VALUES (3, N'+36-222-222', 5)
INSERT [dbo].[enTelefonszamok] ([Id], [Szam], [enSzemely_Id]) VALUES (6, N'+36-333-333', 4)
SET IDENTITY_INSERT [dbo].[enTelefonszamok] OFF
GO
/****** Object:  Index [IX_FK_enHelysegenSzemely]    Script Date: 2025. 05. 05. 9:37:07 ******/
CREATE NONCLUSTERED INDEX [IX_FK_enHelysegenSzemely] ON [dbo].[enSzemelyek]
(
	[enHelyseg_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_enSzemelyenTelefonszam]    Script Date: 2025. 05. 05. 9:37:07 ******/
CREATE NONCLUSTERED INDEX [IX_FK_enSzemelyenTelefonszam] ON [dbo].[enTelefonszamok]
(
	[enSzemely_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[enSzemelyek]  WITH CHECK ADD  CONSTRAINT [FK_enHelysegenSzemely] FOREIGN KEY([enHelyseg_Id])
REFERENCES [dbo].[enHelysegSet] ([Id])
GO
ALTER TABLE [dbo].[enSzemelyek] CHECK CONSTRAINT [FK_enHelysegenSzemely]
GO
ALTER TABLE [dbo].[enTelefonszamok]  WITH CHECK ADD  CONSTRAINT [FK_enSzemelyenTelefonszam] FOREIGN KEY([enSzemely_Id])
REFERENCES [dbo].[enSzemelyek] ([Id])
GO
ALTER TABLE [dbo].[enTelefonszamok] CHECK CONSTRAINT [FK_enSzemelyenTelefonszam]
GO
USE [master]
GO
